html, body {
  height: 100%;
  background-color: black;
  font-family: 'Cinzel', cursive;
}

/* *{
  border: 1px solid green;
} */

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 0.25fr 1.5fr;
  grid-template-rows: 0.7fr 2fr 0.7fr;
  grid-gap: 1px 1px;
  grid-template-areas: "player-1-info player-1-hand" "play-area play-area" "player-2-info player-2-hand";
}

.play-area {
  display: grid;
  grid-area: play-area;
  grid-template-columns: 1.175fr 1fr 1fr 1fr 1fr 1fr 1.175fr;
  grid-template-rows: 1fr 1fr;
  /* grid-gap: 1px 1px; */
  grid-template-areas: "player-1-deck p1c0 p1c1 p1c2 p1c3 p1c4 player-1-graveyard" "player-2-deck p2c0 p2c1 p2c2 p2c3 p2c4 player-2-graveyard";
  background-image: url("../img/board-bg.png");
  background-position: center center;
  min-height: 650px;
  padding-left: 3px;
  padding-right: 3px;
  /* justify-content: space-between; */
}

/* #new-game {
  display: none;
} */

.end-turn {
  margin-top: 75px;
  text-align: center;
}

.btn {
  font-family: 'Cinzel', cursive;
  font-size: 20px;
}

#player-1-info {
  color: #E6A71F;
  grid-area: player-1-info;
  background-image:url(http://78.media.tumblr.com/9951ca2e7e884a48ca5b5269f5514cd6/tumblr_nwjrkxWOcd1tslewgo1_500.gif);
  background-repeat:no-repeat; */
  background-size:100%;
  background-position:left bottom;
  padding-left: 15px;
}

#player-2-info {
  color: #E6A71F;
  grid-area: player-2-info;
  background-image:url(http://78.media.tumblr.com/9951ca2e7e884a48ca5b5269f5514cd6/tumblr_nwjrkxWOcd1tslewgo1_500.gif);
  background-repeat:no-repeat; */
  background-size:100%;
  background-position:left bottom;
  padding-left: 15px;
 }

#player-1-hand {
  color: #E6A71F;
  grid-area: player-1-hand;
  background-image: url("../img/handbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#player-1-hand img {
  max-width:100%;
  max-height:100%;

}

#player-2-hand {
  color: #E6A71F;
  grid-area: player-2-hand;
  background-image: url("../img/handbg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.board-decks, .player-icons {
  /* max-height: 200px;
  max-width: 200px; */
  margin-left: 25px;
  position: relative;
}

.board-decks img, .player-icons img {
  max-width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-lanes {
  /* margin-top: 25%; */
  /* border: solid 1px green; */
  position: relative;
  box-shadow: inset 0 0 10px rgba(230,167,31,0.5);
}

.board-lanes img {
  max-width:100%;
  max-height:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p1field {
  background-image: url("../img/lane-bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p2field {
  background-image: url("../img/lane-bg-flipped.png");
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#p1c0 {
  grid-area: p1c0;
}

#p1c1 {
  grid-area: p1c1;
}

#p1c2 {
  grid-area: p1c2;
}

#p1c3 {
  grid-area: p1c3;
}

#p1c4 {
  grid-area: p1c4;
}

#p2c0 {
  grid-area: p2c0;
}

#p2c1 {
  grid-area: p2c1;
}

#p2c2 {
  grid-area: p2c2;
}

#p2c3 {
  grid-area: p2c3;
}

#p2c4 {
  grid-area: p2c4;
}

#player-1-deck {
  grid-area: player-1-deck;

}

#player-2-deck {
  grid-area: player-2-deck;
}

#player-1-graveyard {
  grid-area: player-1-graveyard;
}

#player-2-graveyard {
  grid-area: player-2-graveyard;
}

#new-game {
  position: absolute;
  top: 20px;
  right: 20px;
  animation: newgame 2s infinite;
}

@keyframes newgame {
  0% {

  }
  33% {
    color: #FF6800;
    transform: translateX(-20px);
  }
  66% {
    transform: translateX(0px);
  }
  100%{

  }
}

.card-back {
  width: auto%;
  border-radius: 5px;
  height: 250px;
}

.player-card > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

.hand-cards {
  float: left;
  margin: 5px;
}

.active-card {
  border: 4px solid blue;
}

.active-field {
  background-color: red;
}

.unclickable {
  pointer-events: none;
}

.field-cards {
  border: 2px solid yellow;
 }

 .hidden {
   display: none;
 }

 .highlight {
   text-shadow: 3px 3px 3px rgba(230,167,31,.8);
   text-decoration: underline;
   animation: glow .5s linear infinite;
 }

 @keyframes glow {
   0% {

   }
   50% {
     text-shadow: 3px 3px 5px red;
   }
   100% {

   }
 }

/* Landing-Page Styling Below */

.landing-page {
  display: none;
}

/* .game-page {
  display: none;
} */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url("../img/stars.png") repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url("../img/twinkling.png") repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url("../img/clouds-red.png") repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

.logo{
  position: absolute;
  width:64%;
  height:auto;
  display:block;
  z-index:4;
}

.banner{
  position: absolute;
  right: 19%;
  width:auto;
  height:100%;

  display: inline-block;
  z-index:3;

}

.slide-in-top {
	animation: slide-in-top 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-blurred-tr {
	animation: slide-in-blurred-tr 1.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-tr {
  0% {
    transform: translate(1000px, -1000px) skew(-80deg, -10deg);
    transform-origin: 0% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.slide-out-blurred-bl {
	animation: slide-out-blurred-bl 0.95s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@keyframes slide-out-blurred-bl {
  0% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
    transform-origin: 100% 100%;
    filter: blur(40px);
    opacity: 0;
  }
}
